@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Playfair+Display:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rosa: #e91e63;
    --rosa-escuro: #ad1457;
    --rosa-claro: #ffe4ec;
    --rosa-fundo: #fff0f5;
    --branco: #ffffff;
    --texto: #4a2635;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    font-family: 'Inter', sans-serif;

    background:
        linear-gradient(
            135deg,
            #fff0f5,
            #ffd6e5
        );

    color: var(--texto);
}

.caixa-principal {
    width: 100%;
    max-width: 650px;

    background-color: white;

    padding: 40px;

    border-radius: 25px;

    text-align: center;

    box-shadow:
        0 15px 40px
        rgba(173, 20, 87, 0.20);
}

h1 {
    font-family: 'Playfair Display', serif;

    font-size: 40px;

    color: var(--rosa-escuro);

    margin-bottom: 30px;
}

.tela-inicial h2 {
    color: var(--rosa);

    margin-bottom: 15px;
}

.tela-inicial p {
    font-size: 17px;

    line-height: 1.7;

    margin-bottom: 15px;
}

button {
    border: none;

    background:
        linear-gradient(
            135deg,
            var(--rosa),
            var(--rosa-escuro)
        );

    color: white;

    padding: 14px 28px;

    border-radius: 30px;

    font-size: 16px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    transform: translateY(-3px);

    box-shadow:
        0 7px 18px
        rgba(233, 30, 99, 0.30);
}

/* QUIZ */

.quiz {
    display: none;
}

.caixa-perguntas {
    font-family: 'Playfair Display', serif;

    font-size: 23px;

    font-weight: bold;

    color: var(--rosa-escuro);

    margin: 30px 0;
}

.caixa-alternativas {
    display: flex;

    flex-direction: column;

    gap: 14px;
}

.caixa-alternativas button {
    width: 100%;

    background-color: var(--rosa-claro);

    color: var(--texto);

    border: 2px solid #f8b5ca;

    box-shadow: none;
}

.caixa-alternativas button:hover {
    background-color: var(--rosa);

    color: white;

    border-color: var(--rosa);
}

/* RESULTADO */

.caixa-resultado {
    display: none;
}

.caixa-resultado h2 {
    color: var(--rosa-escuro);

    margin-bottom: 20px;
}

.texto-resultado {
    font-size: 22px;

    font-weight: bold;

    margin-bottom: 25px;
}

/* CELULAR */

@media (max-width: 600px) {

    body {
        padding: 10px;
    }

    .caixa-principal {
        padding: 25px 20px;
    }

    h1 {
        font-size: 32px;
    }

    .caixa-perguntas {
        font-size: 20px;
    }

    .tela-inicial p {
        font-size: 15px;
    }
}
